*.log
bundle.js
*.map
node_modules/
*~
typings
.tern-port
.#*
dist/
generated/
coverage/
.nyc_output
.vscode
.awcache
yarn.lock
platforms
package-lock.json
hooks
examples/*/app/src/**/*.js
examples/plain